body{
	font: 400 14px/1.5 "Hiragino Sans GB","WenQuanYi Micro Hei",tahoma,sans-serif;
    color: #666;
    background-color: #fff;
}
tbody{
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.tri{
	height: 0;
    width: 0;
    line-height: 0;
    font-size: 0;
    border: 3px dashed transparent;
}

.m-top{
	height: 29px;
	line-height: 23px;
    font-size: 12px;
    border-top: 1px solid #eee;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #ddd, 0 0 5px 3px #eee;
    background: #f9f9f9;
}
.m-top .u-user{
	width: 980px;
	margin: 0 auto;
	z-index: 90;
}
.m-top .u-user .dropdown{
    position: relative;
    vertical-align: top;
}
.m-top .u-user .u-binfo .keep,.m-top .u-user .u-binfo .userinfo{
	padding: 6px 8px 6px 0;
    height: 16px;
    vertical-align: top;
}
.m-top .u-user .u-binfo .userinfo{
    color: #666;
}
.m-top .u-user .u-binfo .icon-shoucang1:hover{
	color: #f76120;
}
.m-top .u-user .u-binfo .userinfo a:hover{
    text-decoration: underline;
}
.m-top .u-user .u-binfo .userinfo .login{
    color: #f76120;
}
.m-top .u-user .u-binfo .dropdown{
	display: none;
}
.m-top .u-user .userfuc .orders{
	padding: 4px 8px;
}
.m-top .u-user .userfuc .orders:hover a{

	color: #2bb8aa;
}
.m-top .u-user .userfuc .unav{
	display: inline-block;
    position: relative;
    padding: 4px 20px 4px 12px;
    margin: 0 0px;
    color: #666;
    z-index: 93;
}

.m-top .u-user .userfuc  .drop-menu{
	position: absolute;
    display: none;
    top: 27px;
    right: 0px;
    padding: 10px 0px;
    border: 1px solid #ddd;
    color: #666;
    background: #fff;
    z-index: 92;
    box-shadow: 1px 1px 2px rgba(203,203,203,.5);
}
.m-top .u-user .userfuc .unav:hover .tri{
   border-top-color: transparent;
   border-bottom: 3px solid #2bb8aa;
   top: 11px;
}
.m-top .u-user .userfuc .tri{
    display: block;
    position: absolute;
    top: 14px;
    right: 7px;
    border-top: 3px solid #999;
}
.m-top .u-user .userfuc .dropdown:hover .unav{
    color: #2bb8aa;
}
.m-top .u-user .userfuc .dropdown:hover{
	color: #2bb8aa;
	text-decoration: underline;
	background: #f9f9f9;
	border: none;
}
.m-top .u-user .userfuc .dropdown:hover .drop-menu{
	display: block;
}
.m-top .u-user .userfuc .dropdown .vertical-bar{
	position: absolute;
    right: -2px;
    top: 10px;
    display: block;
    height: 12px;
    width: 1px;
    background: #ddd;
    z-index: 94;
}
.m-top .u-user .userfuc li:nth-child(2) .drop-menu{
	width: 80px;
} 
.m-top .u-user .userfuc li:nth-child(3) .drop-menu{
	width: 219px;
}
.m-top .u-user .userfuc li:nth-child(4) .drop-menu{
	width: 92px;
}
.m-top .u-user .userfuc li:nth-child(5) .drop-menu{
	width: 97px;
}
.m-top .u-user .userfuc li:nth-child(7) .drop-menu{
	width: 90px;
}
.m-top .u-user .userfuc .dropdown .drop-menu .item{
	display: block;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    background: #fff;
    color: #666;
    transition: background .2s ease-in;

}
.m-top .u-user .userfuc .dropdown .drop-menu .item:hover{
	color: #2bb8aa;
    background: #f9f9f9;
}
.m-top .u-user .userfuc>li:hover{
	background: #fff;
    border: 1px solid #ddd;
    border-bottom: none;

}
.m-top .u-user .userfuc>li:hover.vertical-bar{
	opacity: 0;

}
.m-top .u-user .userfuc>li:hover .drop-menu{
	border-top: none;
}
.m-top .u-user .userfuc li:nth-child(7) .drop-menu .item{
	padding: 0 8px;
}
.m-search {
	width: 980px;
	height: 100px;
	margin: 0 auto;
	padding-top: 21px;
}
.m-search .u-logo a{
	display: block;
	width: 82px;
	height: 54px;
	text-indent: -100px;
	background: url('../images/pic.png');
	background-position: -188px -783px;
}
.m-search .u-city{
	display: inline-block;
	margin-left: 10px;
}
.m-search .u-city h3{
	font-family: inherit;
	padding-bottom: 3px;
}
.m-search .u-city .togcity{

    padding: 3px 5px;
    line-height: 20px;
    font-size: 12px;
    color: #999;
    background: #fff;
    border: 1px solid #eee;
}
.m-search .u-city .togcity:hover{
	color: #2bb8aa;
}
.m-search .u-search{
	margin: 0 auto;
	width: 490px;
}
.m-search .u-search .u-form{
	width: 490px;
	height: 42px;
	margin: 0 auto;
	position: relative;
	
}
.m-search .u-search .u-form .u-tabs{
	position: relative;
	width: 63px;
	height: 38px;
	border: 2px solid #2db8ad;
	border-right:  none;
}
.m-search .u-search .u-form .u-tabs .tri{
    height: 0;
    width: 0;  
    position: absolute;
    top: 17px;
    right: 8px;
    border: 3px dashed transparent;
    color: #666;
    border-top: 3px solid #666;
    z-index: 11;
}
.m-search .u-search .u-form .u-tabs .search-tabs{
    /*position: relative;*/
    height: 38px;
    overflow: hidden;
    background: #fff;
    z-index: 10;

}
.m-search .u-search .u-form .u-tabs .search-tabs .tab-item{
    padding: 3px 20px 3px 10px;
    line-height: 32px;
    font-size: 14px;
    color: #666;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ddd;
    border-top: 0;
}
.m-search .u-search .u-form .search-input{
    margin: 0;
    width: 338px;
    height: 26px;
    line-height: 26px;
    padding: 6px 5px;
    border: 2px solid #2db8ad;
    border-right: none;
    border-left: none;
    outline: 0;
    font-size:inherit;
    color: inherit;
}
.m-search .u-search .u-form .search-submit{
	width: 65px;
	height: 42px;
	line-height: 42px;
	background:#2bb8aa;
	border: none;
	color: #fff;
	float: left;
    cursor: pointer;
    outline: 0;
}
.m-search .u-search .u-form .search-submit:hover{
  background: #00c3b0;
  transition: background .2s;
}
.m-search .u-search .suggest-list{
	width: 490px;
	margin-top: 10px;
	cursor: pointer;
}
.m-search .u-search .suggest-list a{
	display: inline-block;
	height: 18px;
	padding: 0 8px;
	text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 72px;
    font-size: 12px;
    text-align: center;
    color: inherit;
    overflow: hidden;
}
.m-search .u-search .suggest-list a:hover{
	color: #2bb8aa;
	text-decoration: underline;
}
.m-search .u-commitment .comitem{
    display: inline-block;
    margin-left: 20px;
    height: 42px;
    text-align: center;
    vertical-align: top;
    font-size: 12px;
    color: #999;
}
.m-search .u-commitment .comitem:nth-child(1){
	padding-top: 10px;
}
.m-search .u-commitment .comitem .iconfont{
	display: block;
	color: #2bb8aa;
	font-size: 28px;
	
}
.m-search .u-commitment .comitem  .icon-guoqitui,.m-search .u-commitment .comitem .icon-bumanyimiandan{
	font-size: 44px;
}
.m-search .u-commitment .comitem .motop{
	position: relative;
	top: -14px;
}
.m-lnav{
	z-index: 1000;
}
.m-lnav .left{
	position:relative;
	
}
.m-lnav .u-ltnav{
	position: relative;
	width: 980px;
	margin: 0 auto;
	height: 40px;
    background: #2bb8aa;
    
}
.m-lnav .u-ltnav .left{
	position: absolute;
	z-index: 1000;
	left: 0;
} 
.m-lnav .u-ltnav .u-navbox{
	display: none;
	height: 478px;
	margin-top: 4px;
	width: 246px;
    border-top: none;
    overflow: visible;
    background: #fafafa;
    line-height: 22px;
    font-size: 12px;
    z-index: 1000;
}
.m-lnav .u-ltnav #iconfontjiao{
	display: inline-block;
	font-size: 24px;
	color: #fff;
	padding-right: 4px;
	line-height: 36px;
	cursor: pointer;
}
.m-lnav .u-ltnav .clasify{
   position: relative;
   top: 2px;
   padding-left: 10px;
   margin-right: 140px;
   font-size: 16px;
   color: #fff;
}
.m-lnav .u-ltnav .u-navbox .bot{
    border: 1px solid #eee;
    border-top:  none;
    
}
.m-lnav .u-ltnav .u-navbox .bot:hover{
    background: #fff;
    border-right: 1px solid #fff;
}
.m-lnav .u-ltnav .u-navbox .bot:hover .u-navitem .itemintro i{
    opacity: 0;
}
.m-lnav .u-ltnav .u-navbox .bot:hover .u-navitem{
    border-right:1px solid #fff;
}
.m-lnav .u-ltnav .u-navbox .u-navitem{
	position: relative;
	height: 44px;
	line-height: 48px;
	margin: 0 10px;
    padding: 5px 0 4px 5px;
}
.m-lnav .u-ltnav .u-navbox .bot .u-navitem:hover .rightnav{
    display: block;
}
.m-lnav .u-ltnav .u-navbox .u-navitem .itemintro i{
    display: block;
	float: right;
	width: 12px;
    height: 12px;
    padding-left: 10px;
}
.m-lnav .u-ltnav .u-navbox .u-navitem .itemintro i img{
    width: 12px;
    height: 12px;
}
.m-lnav .u-ltnav .u-navbox .u-navitem .itemintro .title{
	font-size: 14px;
	color: #333;
	font-weight: 700;
	vertical-align: top;
}
.m-lnav .u-ltnav .u-navbox .itemintro .option{

}
.m-lnav .u-ltnav .u-navbox .itemintro .option a{
	font-size: 12px;
	color: #999;
	padding-left: 14px;
	vertical-align: top;
}

.m-lnav .u-ltnav .u-navbox .u-navitem .rightnav{
	position: absolute;
	height: 477px;
	width: auto;
	left: 235px;
    padding: 0;
    white-space: nowrap;
    vertical-align: top;
    min-width: 150px;
    border-top: none;
    z-index: 90;
    display: none;
    background: #fff;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.m-lnav .u-ltnav .u-navbox .u-navitem .rightnav .title{
	padding-left: 10px;
    margin-bottom: 16px;
}
.m-lnav .u-ltnav .u-navbox .u-navitem .rightnav .title a{
	color: #333;
    font-size: 20px;
    line-height: 24px;
} 
.m-lnav .u-ltnav .u-navbox .u-navitem .rightnav .title a:hover{
    color: #2bb8aa;
}
.m-lnav .u-ltnav .u-navbox .u-navitem .fall1{
	top: 0;
}
.m-lnav .u-ltnav .u-navbox .u-navitem .fall2{
	top: -52px;
}
.m-lnav .u-ltnav .u-navbox .u-navitem .fall3{
	top: -105px;
	width: 280px;

}
.m-lnav .u-ltnav .u-navbox .u-navitem .fall4{
	top: -163px;
	

}
.m-lnav .u-ltnav .u-navbox .u-navitem .fall5{
	top: -217px;
	
}
.m-lnav .u-ltnav .u-navbox .u-navitem .fall6{
	top: -270px;
}
.m-lnav .u-ltnav .u-navbox .u-navitem .fall7{
	top: -373px;
   
	
}
.m-lnav .u-ltnav .u-navbox .u-navitem .fall8{
	top: -379px;

}
.m-lnav .u-ltnav .u-navbox .u-navitem .fall9{
	top: -317px;
	
}
.m-lnav .u-ltnav .u-navbox .u-navitem .rightnav .content{
    width: 120px;
    padding-left: 12px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
.m-lnav .u-ltnav .u-navbox .u-navitem .rightnav .content .conitem{
    color: #666;
    font-size: 12px;
    line-height: 24px;
}
.m-lnav .u-ltnav .u-navbox .u-navitem .rightnav .content .bribe a{
  	color: #f76120;
}
.m-lnav .u-ltnav .u-navbox .u-navitem .rightnav .content .conitem a{
    color: #666;
}
.m-lnav .u-ltnav .u-navbox .u-navitem .rightnav .content .conitem a:hover {
	color: #2bb8aa;
}

.m-lnav  .u-ltnav .u-rnav{
	position: absolute;
	left: 246px;
}
.m-lnav  .u-ltnav .u-rnav .u-linenav {
	background: #2bb8aa;
	font-size: 16px;
}
.m-lnav  .u-ltnav .u-rnav .u-linenav  .nav-bar{
	position: relative;
    display: inline-block;
    padding: 10px 18px 9px;
    min-width: 54px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    font-weight: 700;
    transition: background-color .15s linear;
}
.m-lnav  .u-ltnav .u-rnav .u-linenav  .nav-bar:hover{
	background: #00c3b0;
}

.m-lnav  .u-ltnav .u-rnav .u-linenav  .nav-bar a{
	color: #fff;
}
.m-lnav  .u-ltnav .u-rnav .u-linenav  .nav-bar a{
    
    color: #fff;
}
.g-main .m-bdw{
	position: relative;
	width: 980px;
	margin: 0 auto;
	z-index: 100;
}
.g-main .m-bdw .orange{
	color: #f76120;
}
.g-main .m-bdw  .btn-buy{
	height: 50px;
	border: none;
	vertical-align: top;
    font-size: 0;
    color: #fff;
    background-color: #fff;
    padding: 0;
    outline: 0;
    cursor: pointer;
    margin: 0 6px 0 0;
}
.g-main .m-bdw .u-tit{
	height: 18px;
}
.g-main .m-bdw  .u-topcontain{
	float: left;
}
.g-main .m-bdw  .u-topcontain .headline{
	margin-bottom: 10px;
}
.g-main .m-bdw  .u-topcontain .headline .head-tit{
   	font-family: arial,sans-serif;
   	color: #333;
}
.g-main .m-bdw  .u-topcontain .headline .head-tit .tit-componentl,.g-head .m-bdw .u-tit .u-topcontain .headline .head-tit .tit-componentr{
	font-size: 28px;
	color: #333;
	margin: 0 0 15px;
}
.g-main .m-bdw  .u-topcontain .headline .head-tit .tit-componentl{
	font-weight: 700;
}
.g-main .m-bdw  .u-topcontain .headline .head-desc{
	font-size: 16px;
    line-height: 24px;
    color: #666;
}
.g-main .m-bdw  .u-topcontain .content {
	font-size: 12px;

}
.g-main .m-bdw  .u-topcontain .content .conleftimg{
	width: 460px;
}
.g-main .m-bdw  .u-topcontain .content .conleftimg .lazyrend .compimg .img-gallery{
	width: 460px;
	height: 345px;
}

.g-main .m-bdw .u-topcontain .content .conleftimg .lazyrend .compimg .img-gallery .coverimg {
	position: relative;
	width: 460px;
	height: 280px;
	overflow: hidden;
	cursor: pointer;
}
 .g-main .m-bdw .u-topcontain .content .conleftimg .lazyrend .compimg .img-gallery .coverimg .carou{
	position: absolute;
	width: 200%;

}
.g-main .m-bdw .u-topcontain .content .conleftimg .lazyrend .compimg .img-gallery .coverimg .carou img{
	float: left;
	width: 460px;
	height: 280px;
}

.g-main .m-bdw .u-topcontain .content .conleftimg .lazyrend .compimg .img-gallery .coverimg .arrow{
	position: absolute;
	top: 100px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	text-align: center;
	color: #fff;
	opacity: 0;
	background: #000;
	transition: opacity .4s linear .3s;
}
.g-main .m-bdw .u-topcontain .content .conleftimg .lazyrend .compimg .img-gallery .coverimg .arrow:hover{
	opacity: .8;
}
.g-main .m-bdw .u-topcontain .content .conleftimg .lazyrend .compimg .img-gallery .coverimg:hover .arrow{
	opacity: .5;
}
.g-main .m-bdw .u-topcontain .content .conleftimg .lazyrend .compimg .img-gallery .coverimg #previous{
	left: 0;
}
.g-main .m-bdw .u-topcontain .content .conleftimg .lazyrend .compimg .img-gallery .coverimg #next{
	right: 0;
}
.g-main .m-bdw .u-topcontain .content .conleftimg .lazyrend .compimg .img-gallery .candimgs{
	padding-top: 10px;
}
 .g-main .m-bdw .u-topcontain .content .conleftimg .lazyrend .compimg .img-gallery .candimgs img{
	width: 84px;
}
 .g-main .m-bdw .u-topcontain .content .conleftimg .lazyrend .compimg .img-gallery .candimgs a{
	display: inline-block;
	padding: 2px 2px 0px 2px;
}
 .g-main .m-bdw .u-topcontain .content .conleftimg .lazyrend .compimg .img-gallery .candimgs .current{
	border: 1px solid #2bb8aa;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo{
	width: 500px;
    color: #666;
    padding-left: 20px;
}   
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .price{
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .price .compoprice{
	display: inline-block;
	line-height: 34px;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .leading{
	width: 60px;
    display: inline-block;
    color: #999;
    padding-left: 10px;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .price .compoprice .group{
	font-size: 12px;
}  
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .price .compoprice .currprice{
	padding-left: 27px;

}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .price .compoprice .currprice .symbol{
	font-size: 18px;
    display: inline-block;
    vertical-align: top;
} 
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .price .compoprice .currprice .tag{
	margin-left: 5px;
    font: 700 34px arial,sans-serif;
} 
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .price .compoprice .currprice .tag i{
	display: inline-block;
	width: 18px;
	height: 34px;
	background-image: url('../images/spe-area/price.png');
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .price .compoprice .currprice .tag .lp{
    background-position: -36px -136px;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .price .compoprice .currprice .tag  .rp{
	background-position: -126px -68px;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .price .compoprice .defaultprice{
	margin-top: 10px;
	margin-left: 26px;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .price .compoprice .defaultprice span{
	font-size: 14px;

}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .rating{
	margin-top: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
    color: #999;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .rating a{
	color: #999;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .rating .item{
	display: inline-block;
	width: 160px;
	text-align: center;
}

	
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .rating .item span{
	line-height: 28px;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .rating .verbar{
    display: inline-block;
    height: 14px;
    border-left: 1px solid #eee;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .expiry{
	margin-top: 10px;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .expiry .content {
	padding-left: 24px;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .expiry .content  .deadline{
	margin-right: 10px;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .quantcontain .content .quantity{
	margin-top: 10px;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .quantcontain .content .quantity button{
	display: inline-block;
    height: 34px;
    border: 1px solid #ddd;
    font-size: 18px;
    font-weight: 700;
    padding: 0 6px 2px;
    color: #666;
    background: #eee;
    cursor: pointer;
    outline: 0;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .quantcontain .content .quantity .minus{
	  border-right-style: dotted;
	  margin-right: -3px;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .quantcontain .content .quantity .add{
	  border-left-style: dotted;
	  margin-left: -3px;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .quantcontain .content .quantity .quantin{
    height: 32px;
    width: 40px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 0;
    outline: 0;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .quantcontain .content .purchase{
	margin-top: 20px;
	padding-left: 70px;
}

.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .quantcontain .content .purchase .btn-buy{
	width: 196px;
	background: url('../images/purchase.png');
	background-position: 0 -1477px;
 
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .quantcontain .content .purchase .iconfont{
	color: #f76120;
}

.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .quantcontain .content .purchase .small-btn{
	display: inline-block;
    height: 13px;
    line-height: 14px;
    margin-top: 19px;
    padding-left: 10px;
    vertical-align: top;
    color: #666;
    cursor: pointer;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .quantcontain .content .purchase .share:hover{
	color: #2bb8aa;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .quantcontain .content .purchase .btn-buy:hover{
    background-position: 0 -1583px;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .promise{
	margin-top: 10px;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .promise .proitem {
	margin-left:18px;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .promise .proitem a{
	color: #666;
	margin-right: 28px;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .promise .proitem a:hover{
	color: #2bb8aa;
}
.g-main .m-bdw .u-topcontain .content .conrightinfo .lazyrend .promise .proitem i{
	position: absolute;
	width: 25px;
    margin-left: -25px;
    font-size: 16px;
    color: #2bb8aa;
    background: #fff; 
    text-align: center;
}
.g-main .m-bdw .u-content{
	width: 702px;
	margin-top: 30px;
}
.g-main .m-bdw .u-content .num{
	margin-left: 3px;
    color: #999;
    font-size: 10px;
    line-height: 37px;
}
.g-main .m-bdw .u-content .detail-tips{
	margin-bottom: 30px;
	border: 1px solid #eee;
	background: url('../images/spe-area/topic.png');
	background-position: 0 center;
	background-repeat: no-repeat;
}
.g-main .m-bdw .u-content .detail-tips .detail-text{
	margin-left: 180px;
	padding: 30px;
	color: #666;
	border-left: 1px solid #eee;
}
.g-main .m-bdw .u-content .fixedscroll{
	position: fixed;
	top: 0;
	z-index: 1000;
}
.g-main .m-bdw .u-content .smoothscroll .nav-bar{
	position: relative;
	width: 702px;
	height: 40px;
	line-height: 40px;
	box-shadow: 0 0 0 1px #ddd inset;
	border: 1px solid #eee;
	background-color: #f9f9f9;
	transition: width .4s;
	/*transform: translate(0);*/
}
.g-main .m-bdw .u-content .smoothscroll .navlist{
	float: left;
}
.g-main .m-bdw .u-content .smoothscroll .navlist .navitem{
	width: 139px;
	float: left;
	border-right: 1px solid #eee;
	text-align: center;
}
.g-main .m-bdw .u-content .smoothscroll .navlist .navitem a{
	position: relative;
	display: block;
	color: #666;
}
.g-main .m-bdw .u-content .smoothscroll .navlist .current{
	background: #2bb8aa;
}
.g-main .m-bdw .u-content .smoothscroll .navlist .current a{
	color: #fff;
}
.g-main .m-bdw .u-content .smoothscroll .navlist .current .num{
	color: #fff;
}
.g-main .m-bdw .u-content .smoothscroll .btn{
	display: none;
	float: right;
}
.g-main .m-bdw .u-content .smoothscroll .btn .qbtn{
	display: block;
    margin-right: 10px;
    padding: 3px 20px;
    font-size: 12px;
    font-weight: 400;
    background-color: #f76120;
    border-color: #da3f02;
    color: #fff;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .contit{
	padding: 20px 0 10px;
	border-bottom: 2px solid #777;
	font-size: 18px;
	color: #333;
	font-weight: 700;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain  .intro .standardbar{
	padding: 0 6px;
	margin-bottom: 10px;
    color: #333;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    background: #eee;
    border-left: 4px solid #2bb8aa;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .business-address .spe-business .addcontent{
	border-bottom: 1px solid #eee;
	margin-bottom: 10px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .business-address .spe-business .addcontent .leftcon{
	height: 346px;
    width: 380px;
   
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .business-address .spe-business .addcontent .rightcon{
	position: relative;
    width: 317px;
    padding-bottom: 48px;
    min-height: 300px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.12);
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .business-address .spe-business .addcontent .rightcon .infotext{
	padding: 10px 15px 0 15px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .business-address .spe-business .addcontent .rightcon .infotext .info-tit{
	position: relative;
    height: 36px;
    padding-right: 15px;
    line-height: 36px;

}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .business-address .spe-business .addcontent .rightcon .infotext .info-tit a{
	font-size: 14px;
    font-weight: 700;
   	color: #2bb8aa;
}

.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .business-address .spe-business .addcontent .rightcon .infotext .speinfo{
	color: #666;
	min-height: 160px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .business-address .spe-business .addcontent .rightcon .infotext .speinfo .item{
	width: 297px;
	padding:4px 0px ;
	font-size: 12px;
	font-family: inherit;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .business-address .spe-business .addcontent .rightcon .infotext .speinfo .pad{
	padding-left: 30px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .business-address .spe-business .addcontent .rightcon .infotext .speinfo .item a{
	color: #2bb8aa;
	padding-left: 10px;

}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .business-address .spe-business .addcontent .rightcon .infotext .speinfo .item a:hover{
	text-decoration: underline;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .business-address .spe-business .addcontent .rightcon .infotext .speinfo .item .ltit{
	color: #333;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .notice dl{
	border-bottom: 1px solid #eee;
	background: #f9f9f9;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .notice dl dt,.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .notice dl dd{
	padding: 8px 10px;
    text-align: left;
    line-height: 24px;
    min-height: 24px;
    border-top: 1px solid #eee;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .notice dl dt{
	width: 140px;
	float: left;
    color: #666;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .notice dl dd{
	margin-left: 160px;
    background: #fff;
    border-left: 1px solid #eee;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .notice dl  dd ul{
	margin-left: 0;
	border: 1px solid red;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .notice dl dd ul li{
	padding: 0;
	height: 24px;
	margin: 0;
	list-style: disc inside;
}

.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .circumstance .cirtext ul li{
	float: left;
	padding-right: 30px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .circumstance .cirtext .deal-menu{
	width: 100%;
    margin-top: 0px;
    border: none;
    font-size: 14px;
    color: #222;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .circumstance .cirtext .deal-menu th{
	padding: 8px 10px;
	color: #333;
    background: #F0F0F0;
    font-weight: bold;
    border: 1px solid #E8E8E8;
    border-left-style: none;
    border-right-style: none;
    word-break: break-all;
    word-wrap: break-word;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .circumstance .cirtext .deal-menu .name{
	width: auto;
    text-align: left;
    border-left: none;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .circumstance .cirtext .deal-menu .price{
	width: 15%;
    text-align: center;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .circumstance .cirtext .deal-menu .number{
	width: 15%;
    text-align: center;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .circumstance .cirtext .deal-menu .subtotal{
    width: 15%;
    text-align: right;
    border-right: none;
    font-family: arial, sans-serif;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .circumstance .cirtext .deal-menu .subline{
	width: 22%;
	text-align: left;
    border-right: 1px #e8e8e8 dotted;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .circumstance .cirtext .deal-menu tr .title{
	padding: 0 10px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .circumstance .cirtext .summary{
	margin: 10px 0;
    font: 14px/24px "Hiragino Sans GB","WenQuanYi Micro Hei",tahoma,sans-serif;
    color: #666;
    text-align: right;
    padding: 0 10px 10px;
    border-bottom: 1px #e8e8e8 solid;

}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .circumstance .cirtext .summary .worth{
	display: inline-block;
    min-width: 10px;
    padding-right: 20px;
    text-align: left;
    word-break: normal;
    word-wrap: normal;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .circumstance .cirtext .summary .price{
	color: #ea4f01;
    padding-right: 0;
    font-weight: bold;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .circumstance .cirtext	.infolist{
	margin: 10px 0 15px;
    padding-left: 18px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .circumstance .cirtext	.infolist li{
	list-style-position: outside;
	float: none;
    list-style-type: disc;
    margin-bottom: 5px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .busintro .standard-content p{
	margin: 10px 0;
    font: 14px/24px "Hiragino Sans GB","WenQuanYi Micro Hei",tahoma,sans-serif;
    color: #666;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .intro .busintro .standard-content .standard-img{
	margin: 10px 0;
	max-width: 702px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .overview .detail{
	margin-top: 15px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .overview .detail .rate{
	float: left;
	width: 332px;
	height: 115px;
	padding-top: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
    vertical-align: top;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews span,.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .overview .detail .rate em{
	display: inline-block;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .overview .detail .rate .group{
	margin-bottom: 10px;
	text-align: center;
}

.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .overview .detail .total .score{
	font-size: 16px;
    font-weight: 700;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .star .outer{
	width: 80px;
    height: 16px;
	margin: 0 5px;
    text-align: left;
	background-image: url('../images/spe-area/star.png');
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews  .star .outer .rate-star{
	width: 96%;
	background-image: url('../images/spe-area/star.png');
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .overview .detail .total .score .aver{
	padding: 0 3px;
	font-size: 32px;
	line-height: 40px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .overview .detail .count{
	height: 113px;
    padding-top: 22px;
    text-align: center;
    border-left: 1px solid #eee;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .overview .detail .count .wrap{
	width: 170px;
	margin: 0  auto 5px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .overview .detail .count .wrap .group{
    line-height: 1; 
    color: #666;
    text-align: left;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .overview .detail .count .wrap .group .percent-box{
	width: 100px;
    height: 12px;
    margin: 0 7px;
    color: #666;
    text-align: left;
    background: #ffebd7;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .overview .detail .count .wrap .group .percent{
	text-align: left;
	height: 12px;
    background: #FC9E58;
    vertical-align: top;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .connav{
	background: #f9f9f9;
	margin: 10px 0;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .connav .item{
	float: left;
	line-height: 32px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .connav .item .link{
	display: inline-block;
	width: 93px;
    text-align: center;
    font-size: 12px;
    font-family: inherit;
    color: #333;
    border-right: 1px solid #eee;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .connav .item .active-link{
	border-color: #eee;
    background: #eee;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .comments-list .comments-item{
	border-bottom: 1px dotted #ddd;
	padding: 20px 10px 10px;
	color: #222;
	font-size: 12px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .comments-list .comments-item .user{
	margin-right: 10px;
    width: 90px;
    text-align: center;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .comments-list .comments-item .user .avatar-wrap{
	height: 50px;
    vertical-align: top;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .comments-list .comments-item .user .avatar-wrap .avatar{
	width: 50px;
    height: 50px;
    border-radius: 2px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .comments-list .comments-item .user .name-wrap {
	margin: 8px 0 5px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .comments-list .comments-item .user .name-wrap .name{
	max-width: 90px;
    display: inline-block;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .comments-list .comments-item .viewcontent{
	width: 582px;
}	
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .comments-list .comments-item .viewcontent .timeinfo{
	margin-bottom: 10px;
    color: #999;
    line-height: 18px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .comments-list .comments-item .viewcontent .timeinfo .star .outer{
	width: 60px;
	height: 13px;
	background-image: url('../images/spe-area/littlestar.png');
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .comments-list .comments-item .viewcontent .view .text{
    margin: 10px 0;
    word-break: break-all;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .comments-list .comments-item .viewcontent .reply{
	margin: 15px 0 0;
    color: #C6895A;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .page-wrap{
	margin-top: 20px;
    text-align: center;
}

.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .page-wrap .page{
	display: inline;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .page-wrap .page li{
	display: inline;
    vertical-align: top;
   
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .page-wrap .page li a,.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .page-wrap .page li span{
	display: inline-block;
    position: relative;
    padding: 4px 5px;
    height: 12px;
    min-width: 10px;
    border: 1px solid #eee;
    border-radius: 1px;
    text-align: center;
    color: #2bb8aa;
}
.g-main .m-bdw .u-content .detail-staff .content .upmain .anchorviews .comments .commentswrap .comments-content .page-wrap .page .current span{
	background: #2bb8aa;
	color: #fff;
}
.g-main .m-bdw .u-content .mobile-link{
	margin-top: 30px;
}
.g-main .m-bdw .u-sidebar{
	width: 240px;
	margin-top: 30px;
}
.g-main .m-bdw .u-sidebar .sideimg{
	border: 1px solid #eee;
	padding: 0 15px;
}
.g-main .m-bdw .u-sidebar .sideimg .up{
	display: block;
	width: 208px;
	height: 112px;
	border-bottom: 1px dotted #ddd;
	background-image: url('../images/spe-area/speshop.png');
	background-position: 0 -323px;
	background-repeat: no-repeat;
}
.g-main .m-bdw .u-sidebar .sideimg .down{
	display: block;
	width: 208px;
	height: 102px;
	background-image: url('../images/spe-area/speshop.png');
	background-position: 0 -1063px;
	background-repeat: no-repeat;
}
.g-main .m-bdw .u-sidebar .scaning{
	/*position: fixed;*/
	right: 184px;
	top: 35px;
	width: 198px;
	padding: 10px 20px;
	border: 1px solid #eee;
	font-size: 12px;
	margin-top: 10px;

	background: #fff;
}
.g-main .m-bdw .u-sidebar .scaning .content h3{
	padding: 3px 0 13px;
    font-size: 16px;
    color: #333;
    font-family: "Hiragino Sans GB"," Microsoft YaHei","WenQuanYi Micro Hei",arial,sans-serif;
}
.g-main .m-bdw .u-sidebar .scaning .content .clean{
	font-size: 12px;
	float: right;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #2bb8aa;
}
.g-main .m-bdw .u-sidebar .scaning .content .imgitem{
	padding: 18px 0;
    font-size: 12px;
    color: #666;
    zoom: 1;
    border-bottom: 1px dotted #ddd;
}
 .g-main .m-bdw .u-sidebar .scaning .content .imgitem img{
 	display: block;
 	float: left;
 	width: 80px;
 	height: 50px;
    margin: 2px 10px 0 0;
 }
.g-main .m-bdw .u-sidebar .scaning .content .imgitem h5{
  	height: 32px;
    line-height: 16px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 400;
    font-family: "Hiragino Sans GB"," Microsoft YaHei","WenQuanYi Micro Hei",arial,sans-serif;
}
.g-main .m-bdw .u-sidebar .scaning .content .imgitem h5 a{
	color: #666;
} 
.g-main .m-bdw .u-sidebar .scaning .content .imgitem h5 a:hover{
	color: #2bb8aa;
}
.g-main .m-bdw .u-sidebar .scaning .content .imgitem p .price{
	padding-right: 5px;
    font: 700 12px/12px arial,sans-serif;
    
    color: #f76120;
} 
.g-main .m-bdw .u-sidebar .scaning .content .imgitem p .default-price{
	color: #999;
} 
.g-main .m-bdw .u-sidebar .scaning .qk{
	height: 60px;
    width: 198px;
    line-height: 60px;
    color: #666;
    text-align: center;

}
.g-foot .u-sitefirm{
	width: 980px;
	margin: 0 auto;
	/*padding-left: 10px;*/
	
}
.g-foot .u-sitefirm .info .info-item{
	float: left;
    padding-top: 20px;
    padding-bottom: 35px;
    width: 190px;
    min-height: 160px;
    
}
.g-foot .u-sitefirm .info .info-item h3{
	margin-bottom: 12px;
    font-size: 14px;
    font-weight: 700;
    color: #666;
    padding-left: 10px;
}

.g-foot .u-sitefirm .info .info-item ul{
    padding-left: 10px;
}	
.g-foot .u-sitefirm .info .info-item ul li a{
	color: #999;
    font-size: 12px;
}
.g-foot .u-sitefirm .item-service{
	
	
}
.g-foot .u-sitefirm .item-service .content .hotline{
	display: block;
	background-image: url('../images/link.png');
    background-position: 0 -80px;
    width: 49px;
    height: 45px;

}
.g-foot .u-sitefirm .item-service .content .phonetit{
	font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.g-foot .u-sitefirm .item-service .content .phonetime .phone{
	font-size: 18px;
    font-weight: 700;
    color: #666;
}
.g-foot .u-sitefirm .item-service .content .phonetime .time{
	font-size: 12px;
    color: #999;
}
.g-foot .u-sitefirm .item-service .content  .desc{
	margin-top: 27px;
	font-size: 12px;

}
.g-foot .u-sitefirm .item-service .content .cankao a{
	font-size: 12px;
	color: #2bb8aa;
}
.g-foot .u-copyright{
	font-size: 12px;
	text-align: center;
	color: #999;
}
.g-foot .u-copyright a{
	color: #999;

}

.g-foot a:hover{
	text-decoration: underline;
}

.g-foot .u-certlang{
	width: 300px;
	margin: 20px auto 40px;
	color: #999;
}
.g-foot .u-certlang a{
	display: block;
	font-size: 12px;
	color: #999;
}
.g-foot .u-certlang .underno:hover{
	text-decoration: none;
}
.g-foot .u-certimg{
	width: 470px;
	margin: 30px auto;
}
.g-foot .u-certimg .imglist li{
	display: inline-block;
}
.g-foot .u-certimg .imglist li a{
	display: block;
	height: 38px;
	background-image: url('../images/link.png');
	background-repeat: no-repeat;
 
}
.g-foot .u-certimg .imglist li .beian{
	 width: 111px;
	 background-position: 0 -167px;
}
.g-foot .u-certimg .imglist li .wz{
	width: 107px;
	 background-position: 0 -127px;
}
.g-foot .u-certimg .imglist li .xf{
	width: 107px;
    background-position: 0 -40px;
}
.g-foot .u-certimg .imglist li .wq{
	background: url('../images/wq.png');
	width: 111px;
}

	
	
	



	
	

	

	
	
